@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-weight: normal;
    transition: all .3s cubic-bezier(.16,.8,.62,1.52);
    text-decoration: none;
    outline: none;
    border:none;
}

.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #e62429;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
}
  
.scrollToTop-btn.active{
    right: 20px;
    opacity: 1;
    pointer-events: auto;
}

.btn{
    color: #fff;
    background: #e62429;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    /* margin-top: 20px; */
    transition: 0.5s ease;
}

.btn:hover{
    background: #e62429;
}

header{
    z-index: 999;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
  
header.sticky{
    background: #e62429;
    padding: 10px 100px;
}
  
header .brand{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}
  
header .navigation a{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 30px;
}
z
header .navigation a:hover{
    color: #e62429;
}
  
header.sticky .navigation a:hover{
    color: #000;
}


*::selection{
    background: #e62429;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 8px;
    border-radius: 10%;
}

html::-webkit-scrollbar-track{
    background:#000;
}

html::-webkit-scrollbar-thumb{
    background: #e62429;
}

section{
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 100px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(../images/banner.avif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .image{
    flex: 1 1 640px;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 40rem;
    padding: 64px 0;
}

.home .content h3{
    color: #e62429;
    font-size: 35px;
    padding-bottom: 1rem;
}

.home .content h1{
    color: #fff;
    font-size: 25px;
}

.home .content p{
    color:#aaa;
    font-size: 16px;
    padding: 16px 0;
}

.heading{
    text-align: center;
    color: #e62429;
    font-size: 30px;
}

.heading span{
    color:#666;
}
:root {
    --scrollcolor: #e62429;
    --scrollbackground: #000;
}
.alpine-slider{
    background:#f0f0f0;
}  
.slider {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
}
  
.slider__content {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}
.slider__content::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: var(--scrollbackground);
}
.slider__content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--scrollcolor);
}
.slider__content::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--scrollbackground);
}
  
.slider__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100%;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
}
@media (min-width: 460px) {
    .slider__item {
        aspect-ratio: 2/3;
        min-width: calc((100% / 3) - 2rem);
    }
}
@media (min-width: 940px) {
    .slider__item {
        min-width: calc((100% / 4) - 4rem);
    }
}
  
.slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
  
.slider__info {
    position: relative;
    text-align: center;
    padding: 4rem 2rem 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}
.slider__info h2 {
    color: #fff;
    font-family: system-ui;
    line-height: 1.1;
    font-weight: 300;
    font-size: 1.75rem;
    margin: 0;
}
  
.slider__nav {
    margin: 1rem 0 4rem;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-content: center;
    align-items: center;
    pointer-events: none;
}
@media (min-width: 460px) {
    .slider__nav {
        justify-content: flex-end;
    }
}
  
.slider__nav__button {
    margin: 0;
    appearance: none;
    border: 0;
    border-radius: 2rem;
    background: #e62429;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 16px;
    line-height: 1;
    pointer-events: none;
    transition: 0.2s ease-out;
    opacity: 0.25;
}
.slider__nav__button--active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.team{
    background:#222;
}

.team .heading span{
    color:#fff;
}

.team .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team .box-container .box{
    flex: 1 1 30rem;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 25px;
    box-shadow: 0 8px 10px #000;
}

.team .box-container .box img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.team .box-container .box .info{
    padding: 30px;
    width: 100%;
    position: absolute;
    bottom:-100%; left:0;
    background:rgba(0,0,0,.7);
}

.team .box-container .box:hover .info{
    bottom:0;
}


.team .box-container .box .info h3{
    font-size: 16px;
    color:#fff;
    padding-bottom: .5rem;
}


.team .box-container .box .info span{
    font-size: 13px;
    color: #e62429;
}


.team .box-container .box .info .stars i{
    font-size: 16px;
    color:orange;
    padding: 10px 2px;
}

.team .box-container .box .info p{
    font-size: 12px;
    color:#ccc;
    padding: 1px 0;
}

/* footer */
.footer{
    text-align: center;
    background: #222;
}


.footer .share{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer .share a{
    font-size: 16px;
    color:#ccc;
    padding: 15px;
}

.footer .share a:hover{
    color:#eee;
}

.footer .credit{
    padding: 20px 10px;
    font-size: 12px;
    color: #fff;
    background: #111;
}

.footer a{
    color: #e62429;
}
@media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }
  
    header.sticky{
      padding: 10px 20px;
    }
  
    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      z-index: 888;
      position: fixed;
      background: #fff;
      top: 0;
      right: 0;
      width: 380px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
      transition: 0.3s ease;
    }
  
    header .navigation a{
      color: #000;
      font-size: 20px;
      margin: 10px;
      padding: 0 20px;
      border-radius: 20px;
    }
  
    header .navigation a:hover{
      background: #3a6cf4;
      color: #fff;
      transition: 0.3s ease;
    }
  
    .menu-btn{
      position: absolute;
      background: url(/images/menu.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      right: 0;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.3s ease;
    }
  
    .menu-btn.active{
      z-index: 999;
      background: url(/images/close.png)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
      filter: invert(1);
    }
    
    @media (max-width:768px){
    
        header .navbar ul li a{
            display: block;
            font-size: 2.5rem;
            border-bottom: .1rem solid rgba(0,0,0,.1);
            padding:1.5rem 0;
        }
    
        .fa-times{
            transform: rotate(180deg);
        }
    
        header .navbar.nav-toggle{
            transform:scaleY(1);
            opacity: 1;
        }
    
        .home .content{
            text-align: center;
        }
        section{
            /* padding: 50px 0; */
            padding: 50px 0px !important;

        }
        .alpine-slider{
            min-height: 70vh;
            margin: auto;
        }  
    
    }
    
    @media (max-width:400px){
    
        html{
            font-size: 50%;
        }
        section{
            padding:0 3%;
            padding-top: 11rem;
        }
    }
}